@font-face {
    font-family: iran;
    src: url('./Yekan.ttf ');
}

* {
    direction: rtl;
}

* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
    letter-spacing: 0px;
    font-family: iran;
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

.shop:hover {
    animation: shoke 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shoke {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.nav {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin: 10px;

}

.input {
    position: relative;
    width: 550px;
    padding: 14px 45px 10px 14px;
    margin-Top: 4px;
    background-Color: #F0F0F1;
    border-Radius: 8px;
    cursor: pointer;
    border: none;
    text-align: right;
    outline: none;

}

.input2 {
    display: none;
}

.fasearch {
    position: absolute;
    right: 180px;
    top: 67px;
    color: #7f7f85;
}

.inputimge {
    display: none;
}

.Bootomnav {
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
    padding: 10px;
}
.bottomnavleft{
    padding: 0px;
    margin: 0px;
}

.bottomnavright span {
    margin: 11px;
    font-size: 1.05em;
    counter-reset: none;
}

.bottomnavright {
    cursor: pointer;
}

.header {
    object-fit: cover;
    width: 100%;
    height: 35px;
    margin: 0px;
    padding: 0px;

}

.autoimage {
    background-color: #f05656;
    height: 300px;
    margin: 30px 120px;
    border-radius: 20px;
}

.swiper-card-item {
    margin-top: 17px;
    width: 99%;
    height: 270px;
    background-color: #ffffff;
    text-align: center;
}

.swiper-card-item img {
    width: 70%;
    height: 50%;
    margin-top: 10px;
    object-fit: cover;
    cursor: pointer;
}

.cardslide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.amazing {
    width: 80%;
    height: 80%;
    border-radius: 20px;
    margin: 20px;
    cursor: pointer;

}

.box {
    cursor: pointer;
    width: 60%;
}

.head-moshahedeh {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.moshahedeh {
    color: white;
    cursor: pointer;

}

.icon-cardslide {
    font-size: 14px;
    margin: 6px;
}

.price {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.price-item2 {
    font-weight: bold;
    /* font-family:Arial, Helvetica, sans-serif; */
    letter-spacing: 0px;
    cursor: pointer;

}

.price-item1 {

    background-color: #d32f2f;
    padding: 5px;
    width: 20%;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    letter-spacing: 0px;
    text-align: center;

}

.price-item3 {
    margin-top: 10px;
    margin-left: 55px;
    display: flex;
    justify-content: end;
    color: #c0c2c5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: .0.9em;
    font-weight: 900;
    text-decoration-line: line-through;
    letter-spacing: 0px;
    cursor: pointer;

}

.price-item-rang {
    direction: ltr;
    width: 67%;
    margin-top: 30px;
    height: 1px;
    outline: none;
    background-color: #ef394e;
}

.price-item-4 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.price-item-4-icon {
    margin-top: 70px;
    padding: 20px;
    font-size: 40px;
    cursor: pointer;

}

.price-item-4-span {
    font-size: 1.2em;
    font-weight: 7ya00;
    font-family: sans-serif;
    color: #3f4064;
    cursor: pointer;

}

.arrow {
    position: absolute;
    color: white;
    width: 2em;
    height: 2em;
    filter: drop-shadow(0px 0px 5px #555);
}

.arrow:hover {
    cursor: pointer;
}

.arrow-right {
    right: 1em;
    top: 12em;

}

.arrow-left {
    left: 1em;
    top: 12em;
}

.imagebot {
    width: 100%;
}

.Imagebottom span {
    margin: 2px
}

.circle {
    border-top: 1.5px solid rgb(205, 211, 211);
    object-fit: cover;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    margin-top: 0px;
}

.namecircle {
    display: flex;
    justify-content: center;
    color: #161515;
    margin-top: -1em;
}

.circleitem {
    outline: 0px;
    display: flex;
    margin-left: 20px;
    border-radius: 100%;
    width: 80px;
    height: 70px;
    padding: 2px;
    margin: 20px 30px;
    background-color: #cfc6c6;
}

.Bottimage {
    border-top: 1.5px solid rgb(205, 211, 211);
    opacity: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.Bottimageitem {
    cursor: pointer;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    padding: 2px;
    margin: 20px 30px;
    background-color: #cfc6c6;
}

.Bottimageelement {
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: -1.1em;
}

.card {
    box-shadow: 2px 2px 30px rgb(red, green, blue);
    width: 300px;
    overflow: hidden;
}

.card-item {

    text-align: center;
}

.card-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.mySwiper {
    object-fit: cover;
    margin-top: 20px;
    height: 400px;
    width: 100%;
}

.add {
    display: none;
}

.fixphone {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 3px 3px 3px 3px rgb(88, 88, 88);
    position: fixed;
    bottom: 0px;
    z-index: 1;
    outline: none;
    color: rgb(134, 132, 132);
    font-family: Arial, Helvetica, sans-serif;
}

.fixphone a {
    cursor: pointer;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}











@media screen and (max-width:1350px) {
    .autoimage {
        margin: 0px;
    }

    .mySwiper {
        height: 320px;
    }
}

@media screen and (max-width:1250px) {
    .delete {
        display: none;
    }

}

@media screen and (max-width: 1050px) {
    .Bottimageitem {
        margin: 20px 2px;
    }

    .mySwiper {
        margin-top: 60px;
        width: 100%;
        height: 300px;

    }

    .autoimage {
        border-radius: 0px;
        margin-top: 30px ;
    }

    .Bottimage {
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: space-around;
        flex-wrap: wrap;


    }

    .header {
        display: none;
    }

    .Bottimageelement {
        margin: -1em;
        gap: 0px;
    }

    .circle {
        display: none;

    }

    .nav {
        position: relative;
    }

    .left-nav {
        display: none;
    }

    .image {
        display: none;
    }

    .input {
        display: none;
    }

    .input2 {
        display: block;
        width: 100%;
        font-size: 1.4rem;
        position: absolute;
        right: 1px;
        margin: 4px 0px;

        padding: 14px 45px 10px 14px;
        margin-Top: 4px;
        background-Color: #F0F0F1;
        border-Radius: 8px;
        cursor: pointer;
        border: none;
        text-align: right;
        outline: none;
    }

    .fasearch {
        top: 25px;
        right: 17px;
        font-size: 20px;
    }

    .inputimge {
        display: block;
        position: absolute;
        top: 17px;
        right: 150px;
        color: red;
        font-size: 25px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 800;


    }

    .Bootomnav {
        display: none;
    }

    .carousel {
        margin-top: 55px;
    }

    .arrow {
        display: none;
    }

}

@media screen and (max-width :900px) {
    .mySwiper {
        height: 300px;
    }

}

@media screen and (max-width :880px) {
    .mySwiper {
        height: 280px;
        object-fit: cover;
    }

}

@media screen and (max-width :820px) {
    .mySwiper {
        height: 260px;
        object-fit: cover;
    }

}

@media screen and (max-width :760px) {
    .mySwiper {
        height: 240px;
        object-fit: cover;
    }

}

@media screen and (max-width :700px) {
    .mySwiper {
        height: 220px;
        object-fit: cover;
    }

}

@media screen and (max-width :645px) {
    .mySwiper {
        height: 200px;
        object-fit: cover;
    }

}

@media screen and (max-width :600px) {
    .mySwiper {
        height: 190px;
        object-fit: cover;
        font-size: 30px;
        background-size: contain;
    }

}

@media screen and (max-width :560px) {
    .mySwiper {
        display: none;

    }

    .add {
        height: 250px;
        object-fit: cover;
        display: block;
    }
}